/* naver start */

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.nav-logo {
  text-align: left;
}

.nav-headding h1 {
  text-align: right;
}

.nav-menu {
  flex-direction: row;
  justify-content: flex-end;
}

.nav-menu a {
  padding: 5px 10px;
  margin: 20px 0;
  background: transparent;
}

/* naver end */

/* profile start */
.profile .icon {
  right: 100px;
  width: 100px;
  transition: width 2s, transform 2s;
}

.profile .icon:hover {
  width: 140px;
}

.profile-desc p {
  color: rgb(115, 39, 202);
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.profile .iconb {
  left: 140px;
  width: 120px;
  transition: width 2s, transform 2s;
}

.profile .iconb:hover {
  width: 140px;
}

/* profile end*/

/* about me start */

.aboutmeimg {
  margin-top: 100px;
}

.aboutmeimg img {
  height: 270px;
  width: 250px;
}
.aboutmedes p {
  text-align: left;
}

/* about me end */

/* profetional exprence starts */

.professional-experience {
  padding: 1% 5%;
}

/* profetional exprence end*/

/* achievment contact start */

.achievment {
  padding-right: 100px;
}

.contact button {
  width: 150px;
}

.contact-links {
  position: relative;
}

.media-button {
  position: absolute;

  left: 50%;
  top: 80%;
  padding-left: 40px;
  transform: translate(-50%, -50%);
  margin-top: 200px;
}

/* achievment contact end */

/* footer start */
.footer-menu {
  margin-top: 12px;
}

.footer-menu a {
  display: inline;
  margin: 10px;
}

.footer-menu a:hover {
  color: rgb(171, 69, 218);
  background-color: black;
  cursor: pointer;
}

/* footer end */
